In [1]:
import pandas as pd

In [3]:
pd.DataFrame([1, 2, 3, 4, 5])

   0
0  1
1  2
2  3
3  4
4  5

In [4]:
data = [['John', 56], ['Johnny', 21], ['Joe', 54]]
pd.DataFrame(data, columns=['Name', 'Age'])

     Name  Age
0    John   56
1  Johnny   21
2     Joe   54

In [5]:
pd.DataFrame({'Name': ['Anthony', 'Jimmy', 'Dave', 'Ricky'], 'Age': [35, 45, 40, 42]})

      Name  Age
0  Anthony   35
1    Jimmy   45
2     Dave   40
3    Ricky   42

In [ ]:
pd.read_csv('sample.csv')