# Assignment 1

1. Write a function that takes start and end of a range returns a Pandas series object containing 
numbers within that range. 
In case the user does not pass start or end or both they should default to 1 and 10 respectively. 
eg. 
 range_series() -> Should Return a pandas series from 1 to 10
 range_series(5) -> Should Return a pandas series from 5 to 10 
 range_series(5, 10) -> Should Return a pandas series from 5 to 10.

In [7]:
#range_series() -> Should Return a pandas series from 1 to 10
import pandas as pd
def range_series(a=1,b=10) :
    return pd.Series(range(a,b+1))
range_series()

0     1
1     2
2     3
3     4
4     5
5     6
6     7
7     8
8     9
9    10
dtype: int64

In [8]:
#range_series(5) -> Should Return a pandas series from 5 to 10
import pandas as pd
def range_series(a=1,b=10) :
    return pd.Series(range(a,b+1))
range_series(5)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

In [9]:
#range_series(5, 10) -> Should Return a pandas series from 5 to 10.
import pandas as pd
def range_series(a=1,b=10) :
    return pd.Series(range(a, b+1))
range_series(5,10)

0     5
1     6
2     7
3     8
4     9
5    10
dtype: int64

2. Create a function that takes in two lists named keys and values as arguments. 
Keys would be strings and contain n string values. 
Values would be a list containing n lists. 
The methods should return a new pandas dataframe with keys as column names and values as 
their corresponding values 
e.g. -> create_dataframe(["One", "Two"], [["X", "Y"], ["A", "B"]]) -> should return a dataframe 
One Two 
0 X A 
1 Y B

In [47]:
import pandas as pd
def  create_dataframe(key,value) :
    return pd.DataFrame(value,columns=key)
d = create_dataframe(["one","two"],(["X","Y"],["A","B"]))
print(d)

  one two
0   X   Y
1   A   B

Create a function that concatenates two dataframes. Use previously created function to create 
two dataframes and pass them as parameters Make sure that the indexes are reset before 
returning:

In [48]:
def Concatdata(a,b) :
    return pd.concat([a,b],ignore_index = True)
a = pd.DataFrame(["One","Two"],(["X","Y"], ["A","B"]))
b = pd.DataFrame(["one","two"],(["x","y"], ["a","b"]))
print(Concatdata(a,b))

     0
0  One
1  Two
2  one
3  two

#Write code to load data from cars.csv into a dataframe and print its details. Details like: 'count', 
'mean', 'std', 'min', '25%', '50%', '75%', 'max'

In [44]:
import pandas as pd
cars = pd.read_csv("cars.csv")
y = pd.DataFrame(cars)
y.describe()

,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
count,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.000000,32.0000
mean,20.090625,6.187500,230.721875,146.687500,3.596563,3.217250,17.848750,0.437500,0.406250,3.687500,2.8125
std,6.026948,1.785922,123.938694,68.562868,0.534679,0.978457,1.786943,0.504016,0.498991,0.737804,1.6152
min,10.400000,4.000000,71.100000,52.000000,2.760000,1.513000,14.500000,0.000000,0.000000,3.000000,1.0000
25%,15.425000,4.000000,120.825000,96.500000,3.080000,2.581250,16.892500,0.000000,0.000000,3.000000,2.0000
50%,19.200000,6.000000,196.300000,123.000000,3.695000,3.325000,17.710000,0.000000,0.000000,4.000000,2.0000
75%,22.800000,8.000000,326.000000,180.000000,3.920000,3.610000,18.900000,1.000000,1.000000,4.000000,4.0000
max,33.900000,8.000000,472.000000,335.000000,4.930000,5.424000,22.900000,1.000000,1.000000,5.000000,8.0000

 Write a method that will take a column name as argument and return the name of the column 
with which the 
given column has the highest correlation. 
The data to be used is the cars dataset. 
The returned value should not the column named that was passed as the parameters. 
E.G: get_max_correlated_column('mpg') -> should return 'drat'

In [46]:
mat = y.corr()
mat
def get_corleate(col) :
    mat = y.corr()
    return mat[col].sort_values(ascending = False).index[1]
get_corleate("mpg")

'drat'