In [1]:
import pandas as pd
import numpy as np

In [2]:
pd.DataFrame([1,2,3,4,5,6])

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [3]:
data= [['Sam', 32],['Maddy', 25], ['Anna', 28]]
df= pd.DataFrame(data, columns=['Name', 'Age'])
df

    Name  Age
0    Sam   32
1  Maddy   25
2   Anna   28

In [8]:
Fruits= [['Apple',100],[ 'Banana',40],[ 'Guava',50]]
Fruit_Basket= pd.DataFrame(Fruits, columns= ('Fruits', 'Rate'))
Fruit_Basket

   Fruits  Rate
0   Apple   100
1  Banana    40
2   Guava    50

In [9]:
df= pd.DataFrame({'Name':['Anthony','Jimmy','Dave','Ricky'], 'Age':[35,45,40,42]})
df

      Name  Age
0  Anthony   35
1    Jimmy   45
2     Dave   40
3    Ricky   42